.dot-red {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    cursor: not-allowed;
    pointer-events: none;
}

.dot-green {
    cursor: not-allowed;
    pointer-events: none;
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
